{% extends 'layouts/base.html' %} {% block title %} Crear usuario {% endblock %}
{% block content %}
<form action="{{ url_for('crear_usuarios') }}" method="POST">
  <div class="title-page">
    <h1>Crear usuario</h1>
  </div>

  <div class="form-group">
    <label for="nombres">Nombres</label>
    <input type="text" id="nombres" name="nombres" class="form-control" />
  </div>

  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" name="apellidos" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" />
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" placeholder="Minimo 8 y maximo 15 caracteres" id="password" name="password" class="form-control" />
  </div>
  <div class="footer-page">
    <a href="{{ url_for('usuarios') }}" class="btn">Volver</a>
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
</form>
{% endblock %}
